body, html {
  margin: 0;
  height: 100%;
  width: 100%;
}

.total {
  display: flex;
  flex-direction: row;
}

.forms {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

form {
  margin-right: 50px;
}

.dummy {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 100%;
  padding-left: 200px;
}